
<form asp-controller="Home" asp-action="AddProduct">
    <table>
        <tr>
            <td>Product Name: </td>
            <td><input type="text" id="txtProductName" name="ProductName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" id="txtCategory" name="Category" /></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" id="txtDescription" name="Description" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" id="txtPrice" name="Price" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
     </table>
</form>