
@model CoffeeShopRegistration.Models.User2

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UserInformation">
    
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" id="txtFirstName" asp-for="FirstName" /></td>
            <span asp-validation-for="FirstName" class="text-danger"></span> 
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" id="txtLastName" asp-formaction="LastName" /></td>            
            <span asp-validation-for="LastName" class="text-danger"></span>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" id="txtEmail" name="Email" /></td>
            <span asp-validation-for="Email" class="text-danger"></span>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" id="txtLastPassword" name="Password" /></td>
            <span asp-validation-for="Password" class="text-danger"></span>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />
    @ViewBag.Name
</form>